<h2 class="text-center" style="color:cornflowerblue;margin-top:30px">My Portfolio</h2>
<div class="offset-md-4 col-md-4 text-center">
  <p style="font-size:24px;">cash in hand: $<span style="font-size:32px;">{{portfolios.data.cash}}</span></p>
</div>

<div class="container"><div class="row"><div class="col-md-12">
  <table class="table table-bordered" *ngIf="portfolios.data.buys.length">
    <th>
      Stock ID
    </th>
    <th>
      Name
    </th>
    <th>
      Number of Units
    </th>
    <tr *ngFor="let p of portfolios.data.buys">
      <td>
        {{p.id}}
      </td>
      <td>
        {{p.name}}
      </td>
      <td>
        {{p.units}}
      </td>
    </tr>
  </table>
</div></div></div>




<!--<ul class="portfolios" *ngIf="portfolios.data.buys.length">
  <li *ngFor="let p of portfolios.data.buys">
      <div>
            <p>{{p.id}}</p>
            <p>{{p.name}}</p>
            <p>{{p.units}}</p>
      </div>
  </li>
</ul>-->
