<div class="container-fluid main">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row" style="padding-top: 40px;">
        <div class="col-md-6 text-center">
            <a routerLink="/portfolio">portfolio</a>
        </div>
        <div class="col-md-6 text-center">
            <a routerLink="/stocklist">stocklist</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!--
<app-portfolio></app-portfolio>
<app-stocklist></app-stocklist>-->
